extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jason Ziegler
        p Full Stack JavaScript Developer


        .about-bio
          p Hi, I'm Jason, thanks for viewing my personal portfolio. I'm a JavaScript Full-Stack developer who specializes in Node and Express apps. I have studied at Treehouse and Udemy. I am most interested in working with startups and am looking for opportunities that are more focused on helping people improve their productivity and relationships.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        
        ul
          li 512-698-6854
          li hello@jasonmziegler.tech

        a.btn-link(href='https://www.linkedin.com/in/jason-ziegler-4576523b/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/jasonmziegler', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/Jasonmziegler', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back