extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio or: How I Learned to Stop Worrying and Love to Code 
    p Thanks for your time. Please enjoy my portfolio. I have selected the following projects to show you a taste of who I am and what I can accomplish.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5 #{project.project_name}

